*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}
.navbar{
    width: 1400px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 75px;
}
.logo{
    color: whitesmoke;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 12px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
     position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-outf;
}
ul li a:hover{
    color: navajowhite;

}

.content{
    width: 1500px;
    height: auto;
    margin: auto;
    color:whitesmoke;
    position: relative;
}

.content .about{
     padding-left: 20px;
     padding-top: 25px;
     font-family: Arial;
     letter-spacing: 1.2px;
     line-height: 30px;
     color: whitesmoke;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
a {
    color: aliceblue;
}